[submodule ".emacs.d"]
	path = .emacs.d
	url = https://github.com/jojojames/.emacs.d
[submodule ".zsh"]
	path = .zsh
	url = https://github.com/jojojames/.zsh
[submodule ".vim"]
	path = .vim
	url = https://github.com/jojojames/.vim
